.book-container {
    height: 100vh;
    display: flex;
}

.book-cover-image-container {
    height: 100vh;
    width: 30vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.book-content {
    max-width: 50vw;
    margin: auto;
    height: 100vh;
    padding: 20px 0;
}

.book-content img{
    height: 60px;
    width: 60px;
    margin-bottom: 20px;
}

.book-content h1 {
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 40px;
}

.book-content p {
    margin-bottom: 20px;
}

.checkout-btn {
    padding: 8px 40px;
}

/* Seats */ 

.book-seats-container {
    display: flex;
    margin-bottom: 40px;
}
.book-seats-container span {
    margin-right: 20px;
}

.book-seats {
    display: flex;
    padding: 15px 10px;
    border: 1px solid #2EA2E6;
    border-radius: 20px;
    width: fit-content;
}

.seats-group {
    padding: 0 10px;
}
.seats-row {
    display: flex;
    padding: 2px 0;
}

.seat {
    width: 12px;
    height: 12px;
    background-color: #DAD3D3;
    border-radius: 50px;
    margin: 0 2px;
    cursor: pointer;
}

.seat.occupied {
    cursor: default;
    background-color: #353535;
}

.seat.selected {
    background-color: #2EA2E6;
}

@media(min-width: 2000px) {
    .book-content img {
        width: 80px;
        height: 80px;
    }

    .book-content h1 {
        font-size: 70px;
    }

    .book-content p {
        font-size: 25px;
        margin-bottom: 60px;
    }

    .book-seats-container {
        margin-bottom: 60px;
    }

    .book-seats-container span {
        font-size: 25px;
    }

    .book-seats {
        padding: 25px 20px;
    }

    .seats-row {
        padding: 4px 0;
    }

    .seat {
        width: 20px;
        height: 20px;
        margin: 0 4px;
    }

    .checkout-btn {
        font-size: 25px;
        padding: 15px 60px;
    }
}

@media(max-width: 1200px) {
    .book-content img {
        width: 50px;
        height: 50px;
    }

    .book-content h1 {
        font-size: 30px;
        margin-bottom: 20px;
    }
}

@media(max-width: 767px) {
    .book-container {
        flex-direction: column;
        height: auto;
    }
    
    .book-cover-image-container {
        width: 100%;
        height: 200px;
    }
    
    .book-content {
        max-width: 80vw;
        height: auto;
        margin-bottom: 40px;
    }
}

@media(max-width: 390px) {
    .book-seats-container {
        flex-direction: column;
    }

    .seats-group {
        padding: 0 5px;
    }

    .seat {
        width: 10px;
        height: 10px;
    }

    .book-seats-container span {
        margin-right: 10px;
        margin-bottom: 10px;
    }
}